header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px black;
    padding: 10px 20px;
}

header li {
    list-style: none;
    padding: 5px 10px;
    float: left;
    font-size: 24px;
    font-weight: bold;
}

header span {
    font-size: 24px;
    font-weight: bold;
}

header a {
    text-decoration: none;
    color: black;
}

header a:active {
    color: black;
}